<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MyApp{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet" />
    
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="{% if session['logged_in'] %}{{ url_for('dashboard') }}{% else %}{{ url_for('index') }}{% endif %}">Listing Flow</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if not session['logged_in'] %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Sign Up</a></li>
                {% endif %}
                {% if not session['logged_in'] %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
                {% if session['logged_in'] %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('create_listing') }}">Listings</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('generate_images') }}">Images</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('settings') }}">Settings</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
    <div class="wrapper">
        {% block content %}{% endblock %}
    </div>
    <footer class="py-5 bg-dark">
        <div class="container px-5"><p class="m-0 text-center text-white">&copy; Listing Flow 2025</p></div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
